{% extends 'base.html' %}

{% load staticfiles %}
{% block header_styles %}
    <link rel="stylesheet" href="{% static 'styles/news/view_news.css' %}">
{% endblock %}

{% block maincontent %}
    <div class="container">
        <a href="{% url 'news:new_post' %}">Add +</a>
        <div class="row justify-content-center">
            {% for post in posts %}
                <div class="post col-lg-3 col-md-3 col-sm-6" id="{{post.pk}}">
                    <a href="{% url 'news:view_post' post_id=post.pk %}">Edit</a>
                    <script>
                        function removePost(event) {
                            let xhr = new XMLHttpRequest();
                            xhr.open('GET', 'news/post/' + this.value + '/delete/');
                            xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
                            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                            xhr.send();

                             xhr.onreadystatechange = function() {
                                if (xhr.readyState != 4) return;
                                if (xhr.status != 200) {
                                    alert(xhr.status + ': ' + xhr.statusText);
                                } else {
                                    if (xhr.responseText == 'good') {
                                        var post = document.getElementById(this.value);
                                        post.remove();
                                        this.remove();
                                    }
                                }
                        }.bind(this);

                        }
                        var del_button = document.createElement('button');
                        del_button.innerText = 'Delete';
                        del_button.value = {{ post.pk }};
                        del_button.addEventListener('click', removePost);

                        var post = document.getElementById({{ post.pk }});
                        post.append(del_button)
                    </script>
                    <h1 class="title">{{ post.title }}</h1>
                    <p class="date">{{ post.post_date }}</p>
                    <p class="text">{{ post.message }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="pagination justify-content-center">
                <span class="step-links">
                    {% if posts.has_previous %}
                        <a href="?page={{ posts.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                    </span>

                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}">next</a>
                    {% endif %}
                </span>
        </div>
    </div>
{% endblock %}
