{% extends 'base.html' %}

{% load staticfiles %}
{% block header_styles %}
    <link rel="stylesheet" href="{% static 'styles/news/add_view_post.css' %}">
{% endblock %}

{% block maincontent %}
    <div class="container">
            <form class="post" action="" method="POST">
            {% csrf_token %}
            <div class="post">
                <table >
                    <p>post_id = {{ post.pk }}</p>
                    <p>{{ post.post_date }}</p>
                    <tr>
                        <td>{{ form.title.label_tag }}</td>
                        <td>{{ form.title }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.message.label_tag }}</td>
                        <td>{{ form.message }}</td>
                    </tr>
                </table>
                <input class="btn" type="submit" value="edit">
            </div>
        </form>
    </div>

    <script>
        document.querySelector('#id_title').value = "{{ post.title }}";
        document.querySelector('#id_message').value = "{{ post.message }}";
    </script>
{% endblock %}
