{% extends 'base.html' %}

{% load staticfiles %}
{% block header_styles %}
    <link rel="stylesheet" href="{% static 'styles/news/add_news.css' %}">
{% endblock %}

{% block maincontent %}
<form action="submit_post/" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.title.label_tag }}</td>
            <td>{{ form.title }}</td>
        </tr>
        <tr>
            <td>{{ form.message.label_tag }}</td>
            <td>{{ form.message }}</td>
        </tr>
    </table>
    <input type="submit" value="send">
</form>
{% endblock %}

