{% extends 'base.html' %}

{% load staticfiles %}
{% block header_styles %}
    <link rel="stylesheet" href="{% static 'styles/news/add_view_post.css' %}">
{% endblock %}

{% block maincontent %}
    <div class="container">
        <form action="submit_post/" method="POST">
            {% csrf_token %}
            <div class="post">
                <table>
                    <tr>
                        <td>{{ form.title.label_tag }}</td>
                        <td>{{ form.title }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.message.label_tag }}</td>
                        <td>{{ form.message }}</td>
                    </tr>
                </table>
                <input class="btn" type="submit" value="send">
            </div>
        </form>
    </div>
{% endblock %}

