@font-face {
  font-family: Droid;
  src: url(../fonts/DisposableDroidBB_bld.ttf);
}

@font-face {
  font-family: FontAwesome;
  src: url(../fonts/FontAwesome.otf);
}

@font-face {
  font-family: RemachineScript;
  src: url(../fonts/RemachineScript.ttf);
}

@font-face {
  font-family: SteagislerRegular;
  src: url(../fonts/SteagislerRegular.otf);
}

$footer-height: 100px;

html {
    position: relative;
    min-height: 100%;
    font-size: 10px;
}

body {
    margin-bottom: $footer-height;
}

header {
    background-color: #7711AA;
    nav {
        a {
            text-shadow: 1px 1px 2px black;
            margin-left: 15px;
            font-family: SteagislerRegular, Arial, sans-serif;
            font-size: 2rem;
            color: #FFFFFF;
            &:hover {
                text-decoration: none;
                color: #D5A3FF;
            }
        }
        .logo {
            margin:0;
            font-family: Droid, Arial, sans-serif;
            font-size: 3.8rem;
            &:hover {
                color: #FFFFFF;
            }
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    background-color: #E7E7E7;
    font-size: 1.5rem;
    p {
        font-size: 3rem;
        font-family: RemachineScript, Arial;
    }
    a {
        color: #7711AA;
        &:hover {
            text-decoration: none;
            color: #A174C6;
        }
    }
    nav {
        li {
            margin-left: 10px;
            font-size: 3rem;
            list-style-type: none;
            a {
                font-family: FontAwesome;

                &[href*="github.com"]:before {
                    content: '\f09b';
                }
                &[href*="twitter.com"]:before {
                    content: '\f099';
                }
                &[href*="vk.com"]:before {
                    content: '\f189';
                }
                &[href*="twitch.tv"]:before {
                    content: '\f1e8';
                }
            }
        }
    }
}


