@font-face {
  font-family: Droid;
  src: url(../fonts/DisposableDroidBB_bld.ttf);
}

@font-face {
  font-family: FontAwesome;
  src: url(../fonts/FontAwesome.otf);
}

@font-face {
  font-family: RemachineScript;
  src: url(../fonts/RemachineScript.ttf);
}

@font-face {
  font-family: SteagislerRegular;
  src: url(../fonts/SteagislerRegular.otf);
}

$footer-height: 100px;

html {
    position: relative;
    min-height: 100%;
    font-size: 10px;
}

body {
    margin-bottom: $footer-height;
}

header {
    background-color: #7711AA;

    nav {

        a {
            margin-left: 15px;
            font-family: SteagislerRegular, Arial, sans-serif;
            font-size: 2rem;
            text-shadow: 1px 1px 2px #000000;
            color: #FFFFFF;

            &:hover {
                text-decoration: none;
                color: #D5A3FF;
            }
        }

        .logo {
            margin:0;
            font-family: Droid, Arial, sans-serif;
            font-size: 3.8rem;

            &:hover {
                color: #FFFFFF;
            }
        }
    }
}

main {
    .presentation {
        margin-bottom: 20px;
        background-color: #363636;
        .info {
            margin: 50px 0;
            font-family: SteagislerRegular, Arial, sans-serif;
            color: #FFFFFF;
            h1 {
                font-size: 3.7rem;
                text-shadow: 2px 2px 4px #7711AA;
            }
            p {
                margin: 20px 0;
                font-size: 2rem;
                span {
                    color: #A500F7;
                }
            }
            .connect-button {
                width: 40rem;
                height: 7rem;
                color: #FFFFFF;
                background-color: #7B5EA4;
                font-size: 2.5rem;
                border: none;
                border-radius: 10px;
                &:before {
                    margin: 0 5px;
                    font-family: FontAwesome;
                    content: '\f1e8';
                }
                &:hover {
                    cursor: pointer;
                    background-color: #552B92;
                }
            }
        }
        .photo {
            margin: 5rem 0;
            img {
                width: 50rem;
                height: 30rem;
                border-radius: 10px;
            }
        }
    }
    .features {
        li {
            height: 200px;
            width: 200px;
            list-style: none;
            font-family: SteagislerRegular, Arial, sans-serif;
            font-size: 1.5rem;
            h3 {
                color: #2A2A2A;
                font-size: 2.7rem;
                font-family: Droid, Arial, sans-serif;
                .feature-icon {
                    margin-right: 10px;
                    font-family: FontAwesome;

                    &[icon-attr="custom"]:before {
                        content: '\f085';
                    }
                    &[icon-attr="spam"]:before {
                        content: '\f0e6';
                    }
                    &[icon-attr="logs"]:before {
                        content: '\f0f6';
                    }
                    &[icon-attr="easyuse"]:before {
                        content: '\f118';
                    }
                    &[icon-attr="free"]:before {
                        content: '\f155';
                    }
                    &[icon-attr="opensource"]:before {
                        content: '\f09b';
                    }
                }
            }
            p {
                color: #5F5F5F;
            }
        }
    }
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #8E8E8E;
    font-size: 1.5rem;

    p {
        color: #FFFFFF;
        text-shadow: 1px 1px 2px #000000;
        font-size: 2rem;
        font-family: SteagislerRegular, Arial, sans-serif;
    }

    .project-links {

        padding: 5px 40px;
        a {
            color: #FFFFFF;
            font-family: SteagislerRegular, Arial, sans-serif;

            &:hover {
                color: #CFCFCF;
            }
        }

        .issue {

            &:before {
                margin-right: 5px;
                font-family: FontAwesome;
                content: '\f06a';

            }
        }

        .git {

            &:before {
                margin-right: 5px;
                font-family: FontAwesome;
                content: '\f09b';
            }
        }
       border-right: 1px solid #656565;
    }

    .contacts {
        padding: 5px 40px;

        li {
            margin-left: 10px;
            font-size: 3rem;
            list-style-type: none;

            a {
                color: #222222;
                font-family: FontAwesome;

                &:hover {
                    text-decoration: none;
                    color: #656565;
                }

                &[href*="github.com"]:before {
                    content: '\f09b';
                }

                &[href*="twitter.com"]:before {
                    content: '\f099';
                }

                &[href*="vk.com"]:before {
                    content: '\f189';
                }

                &[href*="twitch.tv"]:before {
                    content: '\f1e8';
                }
            }
        }
    }
}


