{% extends 'base.html' %}

{% load staticfiles %}
{% block header_styles %}
    {% if user.is_authenticated %}
        <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'styles/index_not_auth.css' %}">
    {% endif %}
{% endblock %}

{% block maincontent %}
    {% if user.is_authenticated %}

        <div class="container">
            <div class="row">
                <div class="bot-logs col-lg-6 col-md-6 col-sm-12">
                    <p>Your bot log</p>
                    <div class="bot-logs-frame frame"></div>
                </div>
                <div class="bot-statistics col-lg-6 col-md-6 col-sm-12">
                    <p>Your bot statistics</p>
                    <div class="bot-statistics-frame frame"></div>
                </div>
            </div>
            <div class="row">
                <div class="chat bot-logs col-lg-6 col-md-6 col-sm-12">
                    <p>{{ user.username }}'s chat</p>
                    <div class="chat-frame frame"></div>
                   <!--  <iframe frameborder="0"
                   scrolling="yes"
                   id="{{ user.username }}"
                   src="http://www.twitch.tv/{{ user.username }}/chat"
                   height="500"
                   width="600"
                   >
                   </iframe> -->
                </div>
                <div class="news bot-logs col-lg-3 col-md-3 col-sm-12">
                    <p>Project news
                    {% if request.user.is_superuser %}
                        <a href="{% url 'news:get_news' %}">Moderate news</a>
                    {% endif %}
                    </p>

                    <div class="news-frame frame">

                        {% for post in posts %}
                            <div class="post">
                                <div class="date">{{ post.post_date }}</div>
                                <div class="title">{{ post.title }}</div>
                                <div class="text">{{ post.message }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
        {% else %}
        <div class="container-fluid presentation">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="info col-lg-5 col-md-5 col-sm-12">
                            <h1>STREAM YOUR FAVORITE GAME, LET THE BOT DO HIS JOB.</h1>
                            <p><span>0x71aBot</span> is a moderator bot for twitch without the need for your interaction. <br>
                            No payment, download, or install required.</p>
                            <button class="btn col-md-12 col-sm-12 connect-button">Connect with Twitch</button>
                        </div>
                        <div class="photo col-lg-7 col-md-7 col-sm-5">
                            <img class="img-fluid" src="{% static 'images/robo.jpg' %}" alt="robot bot">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="features">
                <ul class="row">
                    <li class="col-lg-4 col-md-4 col-sm-6">
                        <h3><span class="feature-icon" icon-attr="custom"></span>Customizable</h3>
                        <p>Customize your bot with avaliable options to fit your needs.</p>
                    </li>
                    <li class="col-lg-4 col-md-4 col-sm-6">

                        <h3><span class="feature-icon" icon-attr="spam"></span>Spam filter</h3>
                        <p>Automatically remove spam from your chat.</p>
                    </li>
                    <li class="col-lg-4 col-md-4 col-sm-6">
                        <h3><span class="feature-icon" icon-attr="logs"></span>Logs</h3>
                        <p>View any information about users and their messages, ban history and more.</p>
                    </li>
                    <li class="col-lg-4 col-md-4 col-sm-6">
                        <h3><span class="feature-icon" icon-attr="easyuse"></span>Easy to use</h3>
                        <p>Set up and manage your bot with just a few clicks.</p>
                    </li>
                    <li class="col-lg-4 col-md-4 col-sm-6">
                        <h3><span class="feature-icon" icon-attr="free"></span>Free</h3>
                        <p>Absolutley free to use. All features are avaliable for you.</p>
                    </li>
                    <li class="col-lg-4 col-md-4 col-sm-6">
                        <h3><span class="feature-icon" icon-attr="opensource"></span>Open source project</h3>
                        <p>This is an open source bot and you can help us and contribute to it. Report any bugs found or pull request your commits.</p>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}
