{% extends 'botFactory/base.html' %}
{% block header_styles %}
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'botFactory/styles/register.css' %}">
{% endblock %}
{% block content %}
  <form class="bForm reg_form container text-center" action="{% url 'botFactory:register' %}" method="post">
    {% csrf_token %}
    {% for elem in form %}
      <div class="rField">
        {{ elem.label }}
        {{ elem }}
      </div>
    {% endfor %}
    <input class="button" type="submit" value="Зарегистрироваться"/>
  </form>
{% endblock %}