$footheadColor: #595959;


.rField {
    margin: 20px;
    margin-top: 0px;
    display: block;
}

.reg_button {
    border: 1px solid black;
    color: #12CD00;
    background-color: $footheadColor;
    border-color: #595959;
        &:hover {
            color: #0C7200;
            background-color: #D8D8D8;
        }
}
