
.logo {
	width: 200px;
	height: 200px;
}

.description {
	margin: 40px 0px;
	min-height: 300px;
}

.description img {
	float: left;
	margin: 0 20px 20px 0;
}


.inp_field {
	margin-bottom: 10px;	
}

.advice {
	position: relative;
	left: 100px;
	top: 10px;
	line-height: 1;
	font-size: 1rem;
}

